.advantage-section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 0px;
    }
}

.advantage-section__box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    height: 120px;
    background-color: #F5F4FA;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }

}

.advantage-section__list {
    @extend %list;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

    }

    @media screen and (min-width: 1200px) {
        justify-content: center;
        gap: 0px;
    }
}

.advantage-section__subtitle {
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 10px;


    font-size: var(--fontsize-main);
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-text-color);

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.advantage-section__item {
    max-width: 450px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }


    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 1 * 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: 270px;
    }

    &:not(:last-child) {

        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
            margin-right: 30px;
        }
    }

}

.advantage-section__text {
    font-size: var(--fontsize-main);
    line-height: 1.71;
}