.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-footer);

    @media screen and (min-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: var(--background-footer);
    }

}

.footer-box {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }


}