.join-section {
    padding-top: 12px;
}

.join-section__title {
    margin-bottom: 20px;

    color: #FFFFFF;
    font-size: var(--fontsize-main);
    line-height: 1.14;
    text-transform: uppercase;
}