.join-section {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 12px;
    }

}

.join-section__title {
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: var(--fontsize-main);
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }


}