.team-section__list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

    }

    @media screen and (min-width: 1200px) {
        gap: 0px;
    }

    @extend %list;
}

.title--mobile {
    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
    }
}

.team-section__item {
    max-width: 450px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 1 * 30px) / 2);
        margin-bottom: 0px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: 270px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.team-section {
    @extend %section;
    background-color: #F5F4FA;

}

.card-content__title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: var(--fontweight-secondary);
    font-size: var(--fontsize-secondary);
    line-height: 1.19;
    text-align: center;

}

.card-content__text {
    margin-bottom: 16px;
    font-size: var(--fontsize-secondary);
    line-height: 1.19;
    text-align: center;

}

.card-content {
    max-width: 450px;
    padding-top: 30px;
    padding-bottom: 24px;
    background-color: #FFFFFF;


    @media screen and (min-width: 1200px) {
        width: 270px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;


    }
}

.team-section__image {
    @extend %image;


    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }

}