%section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

}

%list {
    list-style: none;
    padding: 0;
    margin: 0;
}

%link {
    text-decoration: none;
}

%image {
    display: block;
    max-width: 100%;
    height: auto;

    object-fit: cover;
    object-position: center;
}